*{
  margin: 0%;
  padding: 0%;
}
.half-screen{
    height: 50vh;
}

h1{
    font-size: 5rem;
}

body {
  background-color: grey;
  position: relative;
  margin: 0;
  min-height: 100vh;
}

body::before,
body::after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100px;
  background: black; /* o un degradado, patrón, etc */
}

body::before {
  left: 0;
}

body::after {
  right: 0;
}


h1{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
  letter-spacing: -9px;
}

p{
font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.padingX20{
  padding-left: 30px;
  padding-right: 30px;
}

.others-logos{
  width: 22px;
  height: 20px;
  margin-bottom: 4px;
  padding-right: 2px;
}

.skills{
  height: 80px;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #333;
  background: linear-gradient(to right, #333 0%, #333 100%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  color: #333;
  transition: background-size 0.4s ease, color 0.4s ease;
}
.skills:hover {
  background-size: 100% 100%; /* se expande de izq → der */
  color: white;
}
