*{
  margin: 0%;
  padding: 0%;
}
.half-screen{
    height: 50vh;
}



body {
  background-color: #e0fbfcff;
  position: relative;
  margin: 0;
  min-height: 100vh;
}

body::before,
body::after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100px;
  background: #293241ff; /* o un degradado, patrón, etc */
}

body::before {
  left: 0;
}

body::after {
  right: 0;
}


h1{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
  letter-spacing: -9px;
  font-size: 5rem;
}

p{
font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.padingX20{
  padding-left: 30px;
  padding-right: 30px;
}

.others-logos{
  width: 22px;
  height: 20px;
  margin-bottom: 4px;
  padding-right: 2px;
}

.skills{
  height: 80px;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #293241ff;
  background: linear-gradient(to right, #293241ff 0%, #293241ff 100%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  color: #293241ff;
  transition: background-size 0.4s ease, color 0.4s ease;
}
.skills:hover {
  background-size: 100% 100%; 
  color: #e0fbfcff;
}

.skills-title{
  display: inline-block;
  background: linear-gradient(to right, #293241ff 0%, #293241ff 100%);
  background-size: 100% 0%;
  background-repeat: no-repeat;
  color: #293241ff;
  transition: background-size 0.4s ease, color 0.4s ease;
  width: 10vw;
  
}
.skills-title:hover {
  background-size: 100% 100%; 
  color: #e0fbfcff;
}

.background-blue{
  background-color:#3d5a80ff ;
}

.background-white{
  background-color: #e0fbfcff;
}

.background-lightBlue{
  background-color: #98c1d9ff;
}

.orange{
  background-color: #ee6c4dff;
  --yinmn-blue: #3d5a80ff;
--powder-blue: #98c1d9ff;
--light-cyan: #e0fbfcff;
--burnt-sienna: #ee6c4dff;
--gunmetal: #293241ff;
}
.border-black{
  border-color:#293241ff
}

.border-lightblue{
  border-color: #98c1d9ff
}
.image-container {
  position: relative;      /* el contenedor sirve de referencia */
  width:400px;
  height: 300px;
}

.background-img {
  width: 600px;
  padding-right: 200px;
  height: 500px;
  object-fit: cover;       /* ajusta la imagen al contenedor */
}

.overlay-img {
  position: absolute;      /* se superpone */
  top: 50%;                /* centrado vertical */
  left: 50%;               /* centrado horizontal */
  transform: translate(-50%, -50%);
  width: 75%;            /* tamaño de la imagen superpuesta */           /* opcional: transparencia */
}


