*{
  margin: 0%;
  padding: 0%;
}
.half-screen{
    height: 50vh;
}



body {
  background-color: #fffcf2ff;
  position: relative;
  margin: 0;
  min-height: 100vh;
}

body::before,
body::after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100px;
  background: #252422ff; /* o un degradado, patrón, etc */
}

body::before {
  left: 0;
}

body::after {
  right: 0;
}


h1{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
  letter-spacing: -9px;
  font-size: 5rem;
}

p{
font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.padingX20{
  padding-left: 30px;
  padding-right: 30px;
}

.others-logos{
  width: 22px;
  height: 20px;
  margin-bottom: 4px;
  padding-right: 2px;
}

.skills{
  height: 80px;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #403d39ff;
  background: linear-gradient(to right, #403d39ff 0%, #403d39ff 100%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  color: #403d39ff;
  transition: background-size 0.4s ease, color 0.4s ease;
}
.skills:hover {
  background-size: 100% 100%; 
  color: #fffcf2ff;
}

.skills-title{
  display: inline-block;
  background: linear-gradient(to right, #403d39ff 0%, #403d39ff 100%);
  background-size: 100% 0%;
  background-repeat: no-repeat;
  color: #403d39ff;
  transition: background-size 0.4s ease, color 0.4s ease;
  width: 10vw;
  
}
.skills-title:hover {
  background-size: 100% 100%; 
  color: #fffcf2ff;
}

.background-gray{
  background-color:#ccc5b9ff ;
}

.background-white{
  background-color: #fffcf2ff;
}

.orange{
  background-color: #eb5e28ff;
  --floral-white: #fffcf2ff;
--timberwolf: #ccc5b9ff;
--black-olive: #403d39ff;
--eerie-black: #252422ff;
--flame: #eb5e28ff;
}

.image-container {
  position: relative;      /* el contenedor sirve de referencia */
  width:400px;
  height: 300px;
}

.background-img {
  width: 600px;
  padding-right: 200px;
  height: 500px;
  object-fit: cover;       /* ajusta la imagen al contenedor */
}

.overlay-img {
  position: absolute;      /* se superpone */
  top: 50%;                /* centrado vertical */
  left: 50%;               /* centrado horizontal */
  transform: translate(-50%, -50%);
  width: 75%;            /* tamaño de la imagen superpuesta */           /* opcional: transparencia */
}


